@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Custom base styles */
@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  svg {
    vertical-align: middle;
  }
}
